<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} | Anomalous Medical</title>
    <link rel="shortcut icon" href="/Images/icons/favico.ico" type="image/x-icon" />
    <link rel="icon" href="/Images/icons/favico.ico" type="image/ico" />
    {{css}}
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/">
                    <img alt="Anomalous Medical" src="/Files/AnomLogo.png">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="/LearningCenter">Learning Center</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{mainContent}}    
    <div class="container">
        <hr/>
        Copyright 2019 Threax Software, LLC
    </div>
    {{javascript}}
</body>
</html>