<!DOCTYPE html>
<html>
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} | Anomalous Medical</title>
        <link rel="shortcut icon" href="/Images/icons/favico.ico"
        type="image/x-icon">
        <link rel="icon" href="/Images/icons/favico.ico" type="image/ico">{{css}}</head>
    
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <div class="container"> <a href="/">

                    <img alt="Anomalous Medical" src="/Files/AnomLogo.png">

                </a>
                <button type="button" class="navbar-toggler collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
&#x2630;</button>
                <div class="collapse navbar-collapse"
                id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item"><a href="/Download" class="nav-link">Download</a>
                        </li>
                        <li class="nav-item"><a href="/LearningCenter" class="nav-link">Learning Center</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pageContent">
        {{mainContent}}
        </div>
        <div class="container">
            <hr>Copyright 2025 Threax Software, LLC</div>{{javascript}}</body>

</html>